<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>Diary</title>
    <link rel="stylesheet" href="../../../__PUBLIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../__PUBLIC__/css/fileinput.min.css">
    <link rel="stylesheet" href="../../../__PUBLIC__/css/bootstrap-datetimepicker.min.css">
    <script type="text/javascript" src="../../../__PUBLIC__/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../../__PUBLIC__/js/fileinput.min.js"></script>
    <script type="text/javascript" src="../../../__PUBLIC__/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../__PUBLIC__/js/zh.js"></script>
    <script type="text/javascript" src="../../../__PUBLIC__/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="../../../__PUBLIC__/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript" src="../../../__PUBLIC__/js/moment-with-locales.js"></script>
    <style type="text/css">
        /*@media(max-width: 1199px){body{background-color:yellow;}}*/
        /*@media(max-width: 991px){body{background-color:green;}}*/
        /*@media(max-width: 767px){body{background-color:red;}}*/

        @media screen and (min-width:1200px){
            .thumbnail .img{width:200px;height:100px;}
        }
        @media screen and (min-width: 960px) and (max-width: 1199px){
            /*body{background-color:green;}*/
        }
        @media screen and (min-width: 768px) and (max-width: 959px) {
            body{background-color:red;}
        }
        @media only screen and (max-width: 479px) {
            .fontS{font-size:12px;}
            .head{width:300px;margin:0 auto;}
            .floatLeft{float:left;}
            .thumbnail .img{width:170px;height:120px;margin:0 auto;}
        }
        .mgTop{margin-top:10px;}
    </style>
</head>
<body>
<div class="container">
    <div class="head mgTop">
        <div class="col-sm-offset-2 col-sm-1">
        </div>
        <span class="col-sm-2 mgTop fontS floatLeft">2018年06月25日</span>
        <span class="col-sm-1 mgTop fontS floatLeft">星期一</span>
        <span class="col-sm-1 mgTop fontS floatLeft">晴</span>
    </div>
    <hr style="width:80%;margin:0 auto;">
    <div class="col-sm-offset-2 col-sm-6 mgTop">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title fontS text-center">我是幸运的</h3>
            </div>
            <div class="panel-body fontS">
                &nbsp;&nbsp;&nbsp;&nbsp;今天看房，下了一个豪华单间的定金1000元，但是回到租房之后，房东突然打电话过来说：这个月底有一个一房一厅的房子空出来，问我要不要，天啊，这真是电视剧里的剧情，后来我把定金退了，被扣了100块，退了900，但是还是非常开心，因为我只需要从603搬到501，还有租金是：850，好不容易加了点工资，又给了房东，但是最终还是要感谢运气，不知道哪里来的运气，希望这些好运气不会被我这样过度使用，我始终没有那么多好的运气，这是我比谁都清楚的。
            </div>
            <!--图片-->
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img style="" class="img" src="../../../__PUBLIC__/uploads/20180624/0a4ff5d1ef717baa9e9c44d216c887df.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img style="" class="img" src="../../../__PUBLIC__/uploads/20180624/0c7f71099454cc0c0efea2f03780ae23.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img style="" class="img" src="../../../__PUBLIC__/uploads/20180624/0e0baf5fb8cb7019178af68cef1e5883.jpg" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img style="" class="img" src="../../../__PUBLIC__/uploads/20180624/1d035c2a87710ccb668458b2baa7a02c.png" alt="...">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="head mgTop">
        <div class="col-sm-offset-2 col-sm-1">
        </div>
        <span class="col-sm-2 mgTop fontS floatLeft">2018年06月25日</span>
        <span class="col-sm-1 mgTop fontS floatLeft">星期一</span>
        <span class="col-sm-1 mgTop fontS floatLeft">晴</span>
    </div>
    <hr style="width:80%;margin:0 auto;">
    <div class="col-sm-offset-2 col-sm-6 mgTop">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title fontS text-center">我是幸运的</h3>
            </div>
            <div class="panel-body fontS">
                &nbsp;&nbsp;&nbsp;&nbsp;今天看房，下了一个豪华单间的定金1000元，但是回到租房之后，房东突然打电话过来说：这个月底有一个一房一厅的房子空出来，问我要不要，天啊，这真是电视剧里的剧情，后来我把定金退了，被扣了100块，退了900，但是还是非常开心，因为我只需要从603搬到501，还有租金是：850，好不容易加了点工资，又给了房东，但是最终还是要感谢运气，不知道哪里来的运气，希望这些好运气不会被我这样过度使用，我始终没有那么多好的运气，这是我比谁都清楚的。
            </div>
            <!--图片-->
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img style="" class="img-responsive img" src="../../../__PUBLIC__/uploads/20180624/0a4ff5d1ef717baa9e9c44d216c887df.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img style="" class="img-responsive img" src="../../../__PUBLIC__/uploads/20180624/0c7f71099454cc0c0efea2f03780ae23.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img style="" class="img-responsive img" src="../../../__PUBLIC__/uploads/20180624/0e0baf5fb8cb7019178af68cef1e5883.jpg" alt="...">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img style="" class="img-responsive img" src="../../../__PUBLIC__/uploads/20180624/1d035c2a87710ccb668458b2baa7a02c.png" alt="...">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>
</body>
</html>