<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>add</title>
    <link rel="stylesheet" href="../../../__PUBLIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../__PUBLIC__/css/bootstrap-datetimepicker.min.css">
    <script type="text/javascript" src="../../../__PUBLIC__/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../../__PUBLIC__/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../__PUBLIC__/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="../../../__PUBLIC__/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript" src="../../../__PUBLIC__/js/moment-with-locales.js"></script>
    <style type="text/css">
        /*@media(max-width: 1199px){body{background-color:yellow;}}*/
        /*@media(max-width: 991px){body{background-color:green;}}*/
        /*@media(max-width: 767px){body{background-color:red;}}*/

        @media screen and (min-width:1200px){

        }
        @media screen and (min-width: 960px) and (max-width: 1199px){
            body{background-color:green;}
        }
        @media screen and (min-width: 768px) and (max-width: 959px) {
            body{background-color:red;}
        }
        @media only screen and (max-width: 479px) {
            body{font-size:18px;}
            input[type='text']{width:250px;}
            #conCen{margin:25px 50px;}
        }
    </style>
</head>
<body>
<div class="row">
    <div class="container" id="conCen">
        <form class="form-horizontal" role="form" id="myForm">
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">开始时间</label>
                <div class="col-sm-10">
                    <a class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" id='nowdate1' name="start" readonly/>
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">结束时间</label>
                <div class="col-sm-10">
                    <a class='input-group date' id='datetimepicker2'>
                        <input type='text' class="form-control" id='nowdate2' name="end" readonly/>
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">状态</label>
                <div class="col-sm-10">
                    <select name="status" id="myStatus" class="form-control">
                        <option value="1">好</option>
                        <option value="2">良</option>
                        <option value="3">中</option>
                        <option value="4">差</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">次数</label>
                <div class="col-sm-10">
                    <select name="times" id="myTimes" class="form-control">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">醒来次数</label>
                <div class="col-sm-10">
                    <select name="wake" id="myWake" class="form-control">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">备注</label>
                <div class="col-sm-10">
                    <textarea id="myContent" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" id="myBtn" class="btn btn-default">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- 按钮触发模态框 -->
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">添加成功</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script type="text/javascript">
    //日期插件 start
    //只选择时分 开始时间
    $('#datetimepicker1').datetimepicker({
        language: 'zh-CN',//显示中文
        format: 'yyyy-mm-dd hh:ii:ss',
        autoclose: true,
        minView: 0,
        minuteStep:5
    });
    $('#datetimepicker2').datetimepicker({
        language: 'zh-CN',//显示中文
        format: 'yyyy-mm-dd hh:ii:ss',
        autoclose: true,
        minView: 0,
        minuteStep:5
    });
    //日期插件 end
    $(function () {
        $("#myBtn").on('click',function() {
            var start,end,status,times,is_wake,note;
            start = $("#nowdate1").val();
            end   = $("#nowdate2").val();
            status = $("#myStatus").val();
            times = $("#myTimes").val();
            is_wake = $("#myWake").val();
            note = $("#myContent").val();
            if((compareDate(start,end)) || (start == "") || (end == "")) {
                alert("Please fill in the time correctly!");
                return;
            }

            //ajax提交
            $.ajax({
                type:"POST",
                url:'{:url("Index/add")}',
                data:"start="+start+"&end="+end+"&status="+status+"&times="+times+"&is_wake="+is_wake+"&note="+note,
                success:function (msg) {
                    //提交完成时候，马上将表单置空
                    $("#myForm input").val('');
                    $("#myForm textarea").val('');
                    if(msg == 1) {
                        $('#myModal').modal();
                        setTimeout(function () {
                            window.location.href ="{:url('Index/index')}";
                        },3000);
//                        alert("添加成功！");
//                        window.location = "{:url('Index/index')}";

                    }
                }
            });
        });
    });

    //比较两个时间的大小
    function compareDate(d1,d2) {
        return ((new Date(d1.replace(/-/g,"\/"))) > (new Date(d2.replace(/-/g,"\/"))));
    }
</script>
</body>
</html>